
@import url("https://use.typekit.net/egf4emf.css");

$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;

$font-family-serif: "spade", Georgia, "Times New Roman", Times, serif !default;

$headings-font-family: $font-family-serif;

